header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 30px;
  height: 5vh;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.main {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.poster {
  pointer-events: none;
  user-select: none;
  height: 70vh;
  position: relative;
  box-shadow: inset 0px -40px 40px -1px #000, inset 0px 40px 40px -10px #000;
}

.poster img {
  width: 100%;
  height: 99%;
  position: relative;
  top: 1px;
  z-index: -1;
  object-fit: contain;
}

.movieTitle {
  font-size: 30px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -30px
}

.buttons {
  height: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px 3vh
}

.buttons .button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  
}

.loveButton {
  background: linear-gradient(#F11010,#5F1717);
}

.pooButton {
  background: linear-gradient(#E7BD0D,#634A05);
}

.movieList {
  padding: 0 20px;
}

.movieList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movieList ul li{
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e1e1e
}

.movieList ul li:last-of-type{
  border-bottom: 0;
  padding-bottom: 20px;
}

.movieList ul li svg{
  color: red;
  margin-right: 10px;
  font-size: 20px;
}

.errorSection {
  text-align: center;
  margin-top: 20vh;
  font-size: 20px;
}


.loaderContainer {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99999;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
